---
layout: index
title: Project Kick-Ass Programmers
tagline: Teaching youth in 3. World Countries professional software development
img : 1.jpg
img-mobile : 1-mobile.jpg
css: index.css
js: test.js
keywords: teaching, programming, sustainability
canonical: https://Kick-Ass-Programmers.github.io
---
{% include JB/setup %}

<div id="socialMenu">
	{% include social-block.html %}
</div>

<div id="fullpage">
	<div data-anchor="0section" class="section" id="section0">
		<h1 class="heavy">Project<br /><span class="pink">Kick-Ass Programmers</span></h1>
		<br /><br /><br /><br /><h2 class="large-blur">
		<span class="highlight-container"><span class="highlight">
			Teaching youth in developing countries professional software development
		</span></span>
		</h2>
		<br />
		<div class="intro-scroll-down">
			<a data-menuanchor="1section" href="#1section"><span class="mouse"><span class="mouse-dot"></span></span></a>
		</div>
	</div>

	<div data-anchor="1section" class="section" id="section1">
		<h1 class="heavy">Skills training, <br />not job creation.</h1>
		<br /><br />
		<h2><span class="heavy">Software development jobs are plenty. Skills are not.</span></h2>
		<br /><br /><br /><br /><h3 class="large-blur">
		<span class="highlight-container"><span class="highlight">
			"Give a man a fish and you can feed him for a day.<br />
			Teach him how to code and you feed him for a lifetime." 
		</span></span>
		</h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="2section" href="#2section"><span class="mouse"><span class="mouse-dot"></span></span></a>
		</div>
	</div>

	<div data-anchor="2section" class="section" id="section2">
		<h1 class="heavy">Starting with Somaliland</h1>
		<br /><br /><br /><h2 class="large-blur">
		<span class="highlight-container"><span class="highlight">
			A country of almost 4 million with youth unemployment at 70%
		</span></span>
		</h2>
		<br /><br /><br />
		<h3 class="large-blur">
		<span class="highlight-container"><span class="highlight">
			Watch <a href="https://www.youtube.com/embed/3qDWE8TwFsY">the videos</a> showing the journey that started it all
		</span></span>
        </h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="3section" href="#3section"><span class="mouse"><span class="mouse-dot"></span></span></a>
		</div>
	</div>

	<div data-anchor="3section" class="section" id="section3">
		<h1 class="heavy">The project is <span class="pink">highly focused</span></h1>
		<div class="intro-scroll-down">
			<a data-menuanchor="4section" href="#4section"><span class="mouse"><span class="mouse-dot"></span></span></a>
		</div>
	</div>

	<div data-anchor="4section" class="section" id="section4">
		<h1 class="heavy">Sustainability is a <span class="pink">target</span> </h1>
		<br /><h2 class="large-blur">
		<span class="highlight-container"><span class="highlight">
			realized as graduates become teachers
		</span></span>
		</h2>
		<br /><br /><br /><br /><br /><br />
		<h3 class="heavy">
			Presentation (pdf) <a href="/assets/KAP.pdf" style="color:white">here</a>
			<br /><br />
			Contact us (e-mail to to lower left) for more information
        </h3>
		<br />
		<div class="intro-scroll-down">
			<a data-menuanchor="0section" href="#0section"><span class="mouse"><span class="mouse-dot"></span></span>
			<br /><span style="color:white; margin-left:-20px;" data-menuanchor="0section" href="#0section">back to top</span>
			</a>
		</div>
	</div>
</div>
